@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Lato&family=Poppins&display=swap');
body{
    font-family: 'Cormorant SC', serif;
        font-family: 'Lato', sans-serif;
        font-family: 'Poppins', sans-serif;
}